<wm-page data-ng-controller="pluginPageController" name="page1"> 
    <wm-left-panel content="leftnav" name="left_panel1"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" name="EmployeeList1" dataset="bind:Variables.HrdbEmployeeData.dataSet" navigation="Pager"> 
                <wm-listtemplate layout="inline" name="listtemplate1"> 
                    <wm-container class="media-left" name="container1"> 
                        <wm-picture width="32pt" height="32pt" name="Picture" shape="circle" picturesource="bind:Variables.HrdbEmployeeData.dataSet.picurl" class="media-object"></wm-picture> 
                    </wm-container> 
                    <wm-container class="media-body" padding="unset unset unset 1.25em" name="container2"> 
                        <wm-label name="Name" class="p media-heading" caption="bind:Variables.HrdbEmployeeData.dataSet.firstname" fontsize="1.143" fontunit="em"></wm-label> 
                        <wm-label name="JobTitle" caption="bind:Variables.HrdbEmployeeData.dataSet.jobTitle" class="p text-muted"></wm-label> 
                    </wm-container> 
                    <wm-container class="media-right media-top" name="container3"> 
                        <wm-button class="btn-transparent" iconclass="fa fa-whatsapp fa-2x" name="button1" on-tap="button1Tap($event, $scope, item, currentItemWidgets)"></wm-button> 
                    </wm-container> 
                </wm-listtemplate> 
            </wm-list> 
        </wm-page-content> 
    </wm-content> 
    <wm-mobile-tabbar dataset="home,star,music,cog,edit" name="mobile_tabbar1"></wm-mobile-tabbar> 
</wm-page>