<wm-page data-ng-controller="mediaPageController" name="page1"> 
    <wm-left-panel content="leftnav" name="left_panel1"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-media-list name="media_list1" dataset="bind:Variables.getEmployees.dataSet" thumbnailurl="picurl" mediaurl="picurl"> 
                <wm-media-template name="media_template1"></wm-media-template> 
            </wm-media-list> 
            <wm-composite name="composite1"> 
                <wm-label class="col-xs-8 control-label" name="label1" caption="bind:Variables.ipifyService.dataSet"></wm-label> 
                <wm-container class="col-xs-4" name="container1"> 
                    <wm-checkbox class="pull-right" caption="Toggle" type="toggle" name="toggle1" datavalue="true"></wm-checkbox> 
                </wm-container> 
            </wm-composite> 
            <wm-media-list name="media_list2" dataset="bind:Variables.randomuserMe.dataSet.results" thumbnailurl="picture.medium" mediaurl="picture.large"> 
                <wm-media-template name="media_template2"></wm-media-template> 
            </wm-media-list> 
        </wm-page-content> 
    </wm-content> 
    <wm-mobile-tabbar dataset="home,star,music" name="mobile_tabbar1"></wm-mobile-tabbar> 
</wm-page>