<wm-page name="page1" data-ng-controller="file_uploadPageController"> 
    <wm-left-panel name="left_panel1" content="leftnav"></wm-left-panel> 
    <wm-mobile-navbar title="File upload" name="mobile_navbar1"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content name="page_content1" columnwidth="12"> 
            <wm-segmented-control name="segmented_control2"> 
                <wm-segment-content name="segment_content4" caption="Widget"> 
                    <wm-fileupload name="fileupload1" contenttype="image" service="FileService" operation="uploadFile"></wm-fileupload> 
                    <wm-list class="list-card" name="livelist1" dataset="bind:Variables.FileServiceListFiles.dataSet" itemsperrow="xs-1 sm-2 md-3 lg-4" template="true" listclass="list-group" navigation="Basic"> 
                        <wm-listtemplate name="listtemplate1" layout="media"> 
                            <wm-card name="card1"> 
                                <wm-card-content name="card_content1" fontsize="0.8" fontunit="em"> 
                                    <wm-layoutgrid name="layoutgrid1" columns="2"> 
                                        <wm-gridrow name="gridrow1"> 
                                            <wm-gridcolumn class="col-xs-6" name="gridcolumn1" columnwidth="6" colwidth="6"> 
                                                <wm-picture name="Picture" width="100%" picturesource="bind:Variables.FileServiceListFiles.dataSet.inlinePath"></wm-picture> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn class="col-xs-6" name="gridcolumn2" columnwidth="6" padding="unset 1.25em" colwidth="6"> 
                                                <wm-label class="text-muted p" name="ID" caption="bind:Variables.FileServiceListFiles.dataSet.name" margin="unset unset 0px unset" whitespace="nowrap"></wm-label> 
                                                <wm-label class="h4" name="Name" caption="bind:Variables.FileServiceListFiles.dataSet.path" margin="0px unset" whitespace="nowrap"></wm-label> 
                                                <wm-label class="h5" name="JobTitle" caption="bind:Variables.FileServiceListFiles.dataSet.type" margin="0px unset unset unset" whitespace="nowrap"></wm-label> 
                                                <wm-label class="p text-muted" name="Department" caption="bind:Variables.FileServiceListFiles.dataSet.size" margin="unset unset 0px unset" whitespace="nowrap"></wm-label> 
                                                <wm-anchor class="h5" name="PhoneNumber" caption="" margin="0px unset" whitespace="nowrap" hyperlink="tel:"></wm-anchor> 
                                                <wm-anchor class="p text-muted" name="EmailID" caption="" whitespace="nowrap" hyperlink="mailto://"></wm-anchor> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-card-content> 
                            </wm-card> 
                        </wm-listtemplate> 
                    </wm-list> 
                </wm-segment-content> 
                <wm-segment-content name="segment_content5" caption="Variable"> 
                    <wm-container name="container1" horizontalalign="center"> 
                        <wm-camera name="camera1"></wm-camera> 
                    </wm-container> 
                    <wm-container name="container2" horizontalalign="center" margin="10px unset unset unset"> 
                        <wm-button class="btn-default" type="button" name="button1" caption="Click to upload file" margin="unset 0.5em" on-tap="Variables.fileUpload.invoke()"></wm-button> 
                    </wm-container> 
                </wm-segment-content> 
                <wm-segment-content caption="OpenFile" name="segment_content3"> 
                    <wm-button class="btn-default" caption="Open" type="button" margin="unset 0.5em" name="button2" on-tap="Variables.openFileVariable.invoke()"></wm-button> 
                </wm-segment-content> 
            </wm-segmented-control> 
        </wm-page-content> 
    </wm-content> 
    <wm-mobile-tabbar name="mobile_tabbar1" dataset="home,star,music"></wm-mobile-tabbar> 
</wm-page>